@using Microsoft.AspNetCore.Identity
@using Exercitium.ViewModels;
@model List<UserRoleViewModel>

@{
    ViewBag.Title = "Manage Roles";
}

<h2>Manage Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Change Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                        @if (@user.RoleName != null)
                        {
                            <td>@string.Join(", ", user.RoleName)</td>
                        }
                        else
                        {
                            <td>No Roles</td>
                        }
                    <td>
                        <form asp-controller="Account" asp-action="CheckUser" method="post">
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <select name="roleName">
                            @foreach (var role in ViewBag.Roles ?? new List<string>())
                            {
                                        <option value="@role">@role</option>
                            }
                            </select>
                            <button type="submit">Change Role</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>