@model List<Workout>

<h1>Workout page</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New workout</a>
</p>

@if (Model == null)
{
    <p>Nothing to show here...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Workout Id</th>
                <th>Date</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DateTime.ToShortDateString()</td>
                    <td>@item.Type</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}